.navbar {
  height: 60px;
  color: var(--gray-color);

  .wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .center {
        font-size: 2rem;
        letter-spacing: 3px;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        gap: 15px;

        .cart-icon {
            position: relative;
            span {
                font-size: 10px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: var(--blue-color);
                color: var(--white-color);
                position: absolute;
                right: -5px;
                top: -6px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
      }
    }

    .nav-item  {
      display: flex;
      align-items: center;
      font-size: 1.04rem;
    }
  }
}
