.footer {
  margin: 6.25rem 12.5rem 1.25rem 12.5rem;
  .top {
    display: flex;
    gap: 3.125rem;
    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify;
      font-size: 0.875rem;

      h1 {
        font-size: 1.125rem;
        color: var(--blue-color);
      }

      span {
        color: var(--gray-color);
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:3.125rem;
    .left {
        display: flex;
        align-items: center;

        .logo {
            color: var(--blue-color);
            font-size: 1.5rem;
        }

        .copyright {
            margin-left: 1.25rem;
            font-size: 0.875rem;
            color: var(--light-gray-color);
        }
    }

    .right {
        img {
            height: 3.125rem;
        }
    }
  }
}
